In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
df = pd.read_csv("books_from_ecom.csv")
df.head()

,sr_no,product_name,author,language,type,product_real_price,product_disc_price,product_rating,product_raters,discount_offered_prcnt,on_promotion
0,0,Science and Technology,agrahari ravi p,English,Paperback,655,526,4.6,36,19,yes
1,1,Think and Grow Rich,hill napoleon,English,Paperback,225,102,4.5,52575,54,yes
2,2,Quantitative Aptitude for Competitive Examinat...,aggarwal r. s.,English,Paperback,749,454,4.4,56087,39,No
3,3,Life's Amazing Secrets how to find balance,das gaur gopal,English,Paperback,250,161,4.6,39847,35,No
4,4,The Psychology of Money,housel morgan,English,Paperback,399,247,4.6,3554,38,No

In [3]:
df.head(10).T

,0,1,2,3,4,5,6,7,8,9
sr_no,0,1,2,3,4,5,6,7,8,9
product_name,Science and Technology,Think and Grow Rich,Quantitative Aptitude for Competitive Examinat...,Life's Amazing Secrets how to find balance,The Psychology of Money,"Because Life is a Gift - Stories of Hope, Cour...",Sawal hi jawab hai,Indian Polity - for Civil Services and Other S...,Rahasya / The Secret,Nta UGC Net/ Set/ Jrf Paper 1 Teaching and Res...
author,agrahari ravi p,hill napoleon,aggarwal r. s.,das gaur gopal,housel morgan,disha,allan pease,laxmikanth m.,byrne rhonda,madaan k.v.s.
language,English,English,English,English,English,English,Hindi,English,Hindi,English
type,Paperback,Paperback,Paperback,Paperback,Paperback,Paperback,Paperback,Paperback,Paperback,Paperback
product_real_price,655,225,749,250,399,175,150,940,399,449
product_disc_price,526,102,454,161,247,97,90,639,246,256
product_rating,4.6,4.5,4.4,4.6,4.6,4.3,4.4,4.6,4.5,4.5
product_raters,36,52575,56087,39847,3554,7786,7386,36682,11123,449
discount_offered_prcnt,19,54,39,35,38,44,40,32,38,42
on_promotion,yes,yes,No,No,No,No,No,No,No,No

In [4]:
df.shape

(934, 11)

In [5]:
df.nunique()

sr_no                     934
product_name              676
author                    389
language                    9
type                        6
product_real_price        189
product_disc_price        367
product_rating             15
product_raters            571
discount_offered_prcnt     65
on_promotion                2
dtype: int64

In [6]:
df.dtypes

sr_no                       int64
product_name               object
author                     object
language                   object
type                       object
product_real_price         object
product_disc_price         object
product_rating            float64
product_raters              int64
discount_offered_prcnt      int64
on_promotion               object
dtype: object

In [7]:
df.isna().sum()

sr_no                     0
product_name              0
author                    0
language                  0
type                      0
product_real_price        0
product_disc_price        0
product_rating            0
product_raters            0
discount_offered_prcnt    0
on_promotion              0
dtype: int64

In [8]:
df.skew()

C:\Users\KIRUBH~1\AppData\Local\Temp/ipykernel_5136/1665899112.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.skew()

sr_no                     0.000000
product_rating           -0.458524
product_raters            3.514802
discount_offered_prcnt   -0.049541
dtype: float64

In [9]:
df.describe()

            sr_no  product_rating  product_raters  discount_offered_prcnt
count  934.000000      934.000000      934.000000              934.000000
mean   466.500000        4.439936     4877.938972               32.788009
std    269.766875        0.164021    10640.201354               11.853791
min      0.000000        3.500000        3.000000                1.000000
25%    233.250000        4.300000      113.250000               25.000000
50%    466.500000        4.500000      788.500000               34.000000
75%    699.750000        4.500000     4732.250000               41.000000
max    933.000000        5.000000    57191.000000               76.000000

In [10]:
df.language.value_counts()

English      644
other        146
Hindi        120
Marathi        7
Tamil          5
Malayalam      5
Telugu         4
Bengali        2
Kannada        1
Name: language, dtype: int64

In [11]:
df.nunique()

sr_no                     934
product_name              676
author                    389
language                    9
type                        6
product_real_price        189
product_disc_price        367
product_rating             15
product_raters            571
discount_offered_prcnt     65
on_promotion                2
dtype: int64

In [28]:
df_tst = df.copy()
df_tst['product_real_price'] = df_tst['product_real_price'].str.replace(',', '').astype(int)
df_tst['product_disc_price'] = df_tst['product_disc_price'].str.replace(',', '').astype(int)


df_tst.drop('sr_no',inplace=True,axis=1)
df_tst.drop('product_name',inplace=True,axis=1)
df_tst['on_promotion']=df_tst['on_promotion'].replace(to_replace=['yes','No'],value=[1,0])

df_tst=pd.get_dummies(df_tst)

In [29]:
from sklearn.model_selection import train_test_split
X = df_tst.drop('product_rating',axis=1)
y = df_tst['product_rating']
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.1,random_state=1)

In [30]:
X_train.head()

,product_real_price,product_disc_price,product_raters,discount_offered_prcnt,on_promotion,"author_""his divine grace a.c. bhaktivedanta swami prabhupada""",author_abhay kumar,author_aditi shah bhimjyani kareena kapoor khan,author_agarwal amit m,author_agarwal amit m.,...,language_Marathi,language_Tamil,language_Telugu,language_other,type_Book,type_Box,type_Boxset,type_Hardcover,type_Paperback,type_other
216,175,127,12189,27,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
238,799,284,50,64,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
13,175,97,5670,44,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
860,250,232,7,7,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
73,135,113,6896,16,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

###  RandomForestRegressor

In [48]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_jobs=-1,random_state=42)
model.fit(X_train,y_train)

RandomForestRegressor(n_jobs=-1, random_state=42)

In [49]:
X_train

,product_real_price,product_disc_price,product_raters,discount_offered_prcnt,on_promotion,"author_""his divine grace a.c. bhaktivedanta swami prabhupada""",author_abhay kumar,author_aditi shah bhimjyani kareena kapoor khan,author_agarwal amit m,author_agarwal amit m.,...,language_Marathi,language_Tamil,language_Telugu,language_other,type_Book,type_Box,type_Boxset,type_Hardcover,type_Paperback,type_other
216,175,127,12189,27,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
238,799,284,50,64,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
13,175,97,5670,44,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
860,250,232,7,7,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
73,135,113,6896,16,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
767,150,131,3809,12,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
72,540,383,445,29,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
908,190,102,32,46,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
235,655,526,36,19,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
37,150,112,21819,25,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [50]:
y_train

216    4.5
238    4.7
13     4.6
860    4.1
73     4.4
      ...
767    4.3
72     4.4
908    4.2
235    4.6
37     4.3
Name: product_rating, Length: 840, dtype: float64

In [51]:
RF=model.score(X_test,y_test)
RF

0.3181951452447336

In [35]:
x=df.drop(columns=['product_rating'],axis=1)
y=df['product_rating']

### LinearRegression

In [36]:
from sklearn.linear_model import LinearRegression

In [37]:
model=LinearRegression()
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
y_pred

array([4.6       , 4.29593293, 4.44000279, 4.49675615, 4.3266165 ,
       4.31337703, 4.43668493, 4.6       , 4.4883017 , 4.45678212,
       4.48123438, 4.40034993, 4.34162619, 4.47801245, 4.4975201 ,
       4.42452829, 4.39962184, 4.4883017 , 4.49571092, 4.4766949 ,
       4.41118451, 4.32513408, 4.6       , 4.34162619, 4.52026619,
       4.29593293, 4.31827823, 4.39912762, 4.50064634, 4.3303343 ,
       4.34162619, 4.43856167, 4.49810305, 4.5       , 4.34162619,
       4.42306253, 4.37566508, 4.78352454, 4.42676818, 4.54741631,
       4.61120067, 4.3       , 4.48677537, 4.42424971, 4.3       ,
       4.51300716, 4.48063515, 4.42357954, 4.48837634, 4.77779391,
       4.33586972, 4.39103243, 4.25129963, 4.47072705, 4.43338445,
       4.34162619, 4.5       , 4.48173318, 4.3       , 4.55033879,
       4.47832333, 4.47978038, 4.38947545, 4.47920538, 4.32100132,
       4.50014361, 4.6       , 4.32216248, 4.41817479, 4.30567459,
       4.34162619, 4.51336632, 4.5       , 4.38351549, 4.36993974,
       4.4056367 , 4.4228659 , 4.29593293, 4.6       , 4.48954429,
       4.37522896, 4.4       , 4.45763539, 4.47016998, 4.62966841,
       4.35381207, 4.45687597, 4.4065471 , 4.36024081, 4.4316831 ,
       4.1       , 4.51017106, 4.6       , 4.37497244])

In [38]:
from sklearn.metrics import mean_squared_error

In [39]:
mse=mean_squared_error(y_test,y_pred)
mse

0.019941448305828138

In [40]:
from sklearn.metrics import mean_squared_error 
import math

In [41]:
rmse=math.sqrt(mean_squared_error(y_test, y_pred))
rmse

0.14121419300420243

### Support Vector Machine

In [56]:
from sklearn.svm import SVR

In [57]:
SVM=SVR()
SVM.fit(X_train,y_train)
y_pred_svm=SVM.predict(X_test)
y_pred_svm

array([4.44043088, 4.43991425, 4.40532217, 4.44290098, 4.44734995,
       4.3995828 , 4.42265056, 4.43472458, 4.40012563, 4.42010393,
       4.43499057, 4.40546064, 4.41569097, 4.42362419, 4.42242713,
       4.40706223, 4.42504197, 4.40012563, 4.44198254, 4.39037548,
       4.40264895, 4.44780457, 4.44043088, 4.41569097, 4.49913072,
       4.43991425, 4.40438885, 4.39920216, 4.43579666, 4.44614266,
       4.41569097, 4.40043236, 4.44788991, 4.45444772, 4.41569097,
       4.44920732, 4.39511658, 4.38887338, 4.4105006 , 4.46956582,
       4.43835835, 4.39990945, 4.45196824, 4.42699246, 4.39990945,
       4.45181789, 4.49744237, 4.4015965 , 4.38460019, 4.72501679,
       4.40235011, 4.43859045, 4.39354764, 4.48273811, 4.44746677,
       4.41569097, 4.42717241, 4.43607548, 4.41571683, 4.40397201,
       4.39422549, 4.39859324, 4.41571696, 4.46262835, 4.40099922,
       4.45297855, 4.44043088, 4.4501037 , 4.40280123, 4.41947988,
       4.41569097, 4.46389675, 4.39714617, 4.39016   , 4.4412357 ,
       4.41701597, 4.42639429, 4.43991425, 4.43472458, 4.44930088,
       4.4063314 , 4.44784018, 4.32912288, 4.43021935, 4.489742  ,
       4.46692586, 4.43310302, 4.41407394, 4.38923192, 4.3986687 ,
       4.39512166, 4.39667129, 4.43472458, 4.44847744])

In [58]:
MSE_SVM=mean_squared_error(y_pred_svm,y_test)
MSE_SVM

0.021231735360205718

In [59]:
print('Linear_Regression mse:',mse)
print('Linear_Regression rmse:',rmse)
print('Random_Forest     :',RF)
print('SVM               :',MSE_SVM)

Linear_Regression mse: 0.019941448305828138
Linear_Regression rmse: 0.14121419300420243
Random_Forest     : 0.3181951452447336
SVM               : 0.021231735360205718

In [60]:
import pickle

In [61]:
pickle.dump((model),open('model_lr.pkl','wb'))
model.lr=pickle.load(open('model_lr.pkl','rb'))